<html>
    <head>
        <title> MASCOTA GATO</title>
    </head>
    <link rel="stylesheet" type="text/css" href="/static/css/estilo4.css">
    <body>
        <nav>
            <ul>
                <li><a href="/nosotros">Menu de navegacion</a></li>
                <li><a href="/perro">Perro</a></li>
                <li><a href="/gato">Gatos</a></li>
                <li><a href="/huron">Hurones</a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
        <br>
        <b><i><center> GATO </center></i></b><BR>
            <BR>
            <div class="contenedor-texto-imagen">
                <img src="/static/images/gato1.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="250px" height="300x">
                <p class="texto"  class="derecha">
                Garfiel es un elegante felino con una personalidad cautivadora. Con su suave pelaje largo, color sus ojos miel y su cola esponjosa.<br>
                <br>
                Garfiel es una presencia encantadora en cualquier hogar.<br>
                <br>

                Este curioso gato disfruta explorar los rincones más insospechados de su entorno y observar el mundo desde su lugar favorito en la ventana. <br>
                <br>
                Es independiente pero cariñoso, disfruta de los momentos de juego y de los instantes de tranquilidad junto a sus seres queridos.<br>
                <br>

                Garfieles un compañero leal y afectuoso, siempre dispuesto a brindar su compañía y recibir mimos a cambio.<br>
                <br>
                Su salud y bienestar son una prioridad, por lo que nos esforzamos por proporcionarle los cuidados veterinarios necesarios para que pueda vivir una vida plena y feliz.<br>
                <br>

                Ven a visitarnos y conoce a Garfiel en persona. ¡Te conquistará con su gracia felina y su encantadora personalidad!<br>
                <br>
                <b><i> ¡Adoptalo!</i></b><br>
                <br>
                </div>
                <br>

                <div class="contenedor-texto-imagen">
                    

                    <img src="/static/images/gato2.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="250px" height="300x">
                    <p class="texto"  class="derecha"></p>
                    <ul>
                        <li><b>Nombre:</b> Garfiel<br>
                            <br>
                        <li><b>Raza:</b>Gato Naranja<br>
                        <br>
                        <li><b> Edad:</b>1 año
                    </ul>


            </div> 

    </body>
</html>