{% extends "layout.html" %}

{% block content %}
<section class="main" >
    
<section class="articles">
        <article>
            <h2>VETERINARIA </h2>
            <br>
            <p><font face="Calibri">¡Hola, bienvenidos a nuestra veterinaria en linea!<BR>
                En nuestra clínica veterinaria, cuidamos y protegemos la salud y el bienestar de tus mascotas con amor y dedicación. 
                Somos un equipo comprometido con la atención integral de perros, gatos e hurones...<br>
                
           </p>
       </article>
        <article>
           <h2>    </h2>
            <br>
            <p>Además, te ofrecemos consejos útiles sobre nutrición, cuidado preventivo, 
                vacunación y entrenamiento para garantizar una vida larga y feliz para tus compañeros peludos. </p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> NOTA:</h3>
    <p> Estamos aquí para responder a todas tus preguntas y preocupaciones,
         y ayudarte a tomar decisiones informadas sobre la salud y el bienestar de tus mascotas.
        <br>
        <b><i>Contactanos a estos numeros:</i></b> <br>
        +524491784596 <br>
        +524492746284<br>
        +524491523131<br>
       
    </p>
      
</aside>
{% endblock %}
