<html>
    <head>
        <title>MASCOTA HURON</title>
    </head>
    <link rel="stylesheet" type="text/css" href="/static/css/estilo5.css">
    <body>
        <nav>
            <ul>
                <li><a href="/nosotros">Menu de navegacion</a></li>
                <li><a href="/perro">Perro</a></li>
                <li><a href="/gato">Gatos</a></li>
                <li><a href="/huron">Hurones</a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
        <BR>
            <B><I><CENTER> HURONES </I></B></CENTER><BR>
                <BR>
                    <div class="contenedor-texto-imagen">
                        <img src="/static/images/huron.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="250px" height="300x">
                        <p class="texto"  class="derecha">
                            Aro es un hurón juguetón y curioso que trae alegría a cualquier hogar. Con su pelaje suave y brillante, sus ojos vivaces y su cola larga y esponjosa, Aro es una presencia encantadora en la vida de quienes lo conocen.<BR>
                            <BR>
                            Este pequeño explorador disfruta investigar cada rincón de su entorno y encontrar nuevos juegos y travesuras para entretenerse.<BR>
                            <BR>    
                            Es inteligente y activo, y le encanta interactuar con su familia humana y otros animales domésticos.<BR>
                            <BR>
                            Aro es un compañero divertido y cariñoso, siempre listo para compartir momentos de juego y afecto con quienes lo rodean.<br>
                            <br>
                            Su salud y bienestar son una prioridad, por lo que nos esforzamos por proporcionarle los cuidados veterinarios necesarios para que pueda disfrutar de una vida larga y saludable.<br>
                            <bR>
                            Ven a visitarnos y conoce a Aro en persona. ¡Te sorprenderá con su energía inagotable y su carácter encantador!<br>
                            <br>
                            <b> ¡ADOPTALOO!</b>  
                            </div> 
                            <br>
                            <br>
                            <div class="contenedor-texto-imagen"><br>
                                <br>
                                <br>
                    

                            <img src="/static/images/huron2.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="250px" height="300x">
                            <p class="texto"  class="derecha"></p>
                            <ul>
                                <li><b>NOMBRE:</b> Aro<br>
                                    <br>

                                <li><b>Raza:</b>Huron...<bR>
                                    <br>
                                <li><b> Edad:</b>1 año
                            </ul>
                            </div>

        </body>
        </html>