<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title>Ejemplo de estructura HTML5</title>
<link rel="stylesheet" href="estilos.css">
</head>
<body><center>
    <img src="imag1.jpg.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="200px" height="300px">
    <img src="imag2.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="200px" >
    <img src="imag3.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="170px" height="300px" >
<header>
   
</header>

<nav>
    <ul>
        <li><a href="/templates/nosotros.html">Menu de navegacion</a></li>
        <li><a href="/templates/perro.html">Perro</a></li>
        <li><a href="/templates/gato.html">Gatos</a></li>
        <li><a href="/templates/huron.html">Hurones</a></li>
        <li><a href="/templates/index.html">Inicio</a></li>
    </ul>
</nav>
    

  
<footer>
    <p>¡Contáctanos hoy mismo y déjanos ser parte del cuidado de tus seres queridos de cuatro patas!</p>
</footer>
  
</body>
</html>