<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title>Ejemplo de estructura HTML5</title>
<link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body><center>
    <img src="/static/images/imag1.jpg.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="200px" height="300px">
    <img src="/static/images/imag2.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="200px" >
    <img src="/static/images/imag3.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="170px" height="300px" >
<header>
   
</header>

<nav>
    <ul>
        <li><a href="/nosotros">Menu de navegacion</a></li>
        <li><a href="/perro">Perro</a></li>
        <li><a href="/gato">Gatos</a></li>
        <li><a href="/huron">Hurones</a></li>
        <li><a href="/">Inicio</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
    

{% block content %}

 {% endblock %}


    
  
<footer>
    <p>¡Contáctanos hoy mismo y déjanos ser parte del cuidado de tus seres queridos de cuatro patas!</p>
</footer>
  
</body>
</html>

