<html>
<HEAD>

    <TITLE><CENTER><B> <I> MENU</I></B></CENTER></TITLE>
    
</HEAD>
<link rel="stylesheet" type="text/css" href="/static/css/estilo2.css">
<BODY>
    <nav>
        <ul>
            <li><a href="/nosotros">Menu de navegacion</a></li>
            <li><a href="/perro">Perro</a></li>
            <li><a href="/gato">Gatos</a></li>
            <li><a href="/huron">Hurones</a></li>
            <li><a href="/">Inicio</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
   
    <UL>
        <BR>
            <BR>
         <B> <I> MENU</I></B>
        <BR>
            <BR>

        <B><I> SERVICIOS</I></B>
        <BR>
            <BR>
            <LI>Consultas veterinarias
            <LI>Vacunación y desparasitación
            <LI>Cirugías y procedimientos
            <LI> Cuidado dental
            <LI> Peluquería y estética animal<br>
            

                <BR>
                    <B><I> TIENDA</I></B>
                   <LI>Alimentos
                    <LI>Juguetes
                    <LI>Accesorios
                    <LI>Productos de higiente
                    <LI>Camas<br>
                <BR>
                    <B><I>ESPECIALISTAS</I></B>
                    <LI>Veterinarios
                    <LI>Peluqueros caninos
                    <LI>Entrenadores<BR>
                        <br>


                    <B><I>CONTACTOS</I></B>   
                    <LI>Horario de atencion
                    <LI>Ubicacion<br>
                        <BR>
                    
                     <B><I>PROMOCIONES</I></B>
                    <LI>Descuentos especiales
                    <LI>Ofertas
                



                        



            

        

        
    </UL>

<BODY>
   


</BODY>
</html>