<html>
    <head>
        <title>MASCOTA PERRO</title>
    </head>
    <link rel="stylesheet" type="text/css" href="/static/css/estilo3.css">
    <BODY>
        <nav>
            <ul>
                <li><a href="/nosotros">Menu de navegacion</a></li>
                <li><a href="/perro">Perro</a></li>
                <li><a href="/gato">Gatos</a></li>
                <li><a href="/huron">Hurones</a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
        <BR>
            <B><I><CENTER> PERRO </I></B></CENTER><BR>
                <BR>

       
        <div class="contenedor-texto-imagen">
            <img src="/static/images/perro1.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="250px" height="300x">
            <p class="texto"  class="derecha"> 
                Coldy es un encantador golden retriever con una personalidad cariñosa y juguetona.<br>
                 <br>
                 Con su pelaje largo, color miel y sus ojos color cafes y su cola enroscada,Coldy es una presencia adorable en cualquier ambiente.<br>
                <br>
            Este travieso golden explorar nuevos lugares y hacer nuevos amigos tanto de la misma especie como de los humanos.<br>
            <br>
            Es activo y le encanta correr y jugar al aire libre, pero también aprecia los momentos de relajación en compañía de sus seres queridos.<br>
            <br>
            Coldy es un compañero leal y afectuoso, siempre dispuesto a brindar amor incondicional y recibir caricias a cambio.<br>
            <br>
            Su salud y bienestar son una prioridad, por lo que nos esforzamos por proporcionarle los cuidados veterinarios necesarios,<br>para que pueda vivir una vida plena y feliz.<br>
            <br>
            ¡Te robará el corazón con su dulce mirada y su tierna personalidad! <b>¡Adoptalo!</b>
                </div>
                <br>
            <div class="contenedor-texto-imagen">
                <img src="/static/images/perro2.jpg" style="border: 15px solid; color: rgb(192, 141, 184);" width="250px" height="300x">
                <p class="texto"  class="izquierda"></p>
                <ul>

                    <li><b> Nombre:</b> Coldy<br>
                        <br>
                    <li><b> Raza:</b> Golden retriever<br>
                        <br>
                    <li><b> Edad:</b> 4 meses
                      


                
                </ul>


            </div>

    </BODY>
    
